<template>
  Form
  <form>
    <div>
      <label for="login">Login</label>
      <input type="text" id="login" name="login" v-model="login">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" id="password" name="password" v-model="password">
    </div>
  </form>
  <div>
    <div>
      Login : {{ login }}
    </div>
    <div>
      Password : {{ password }}
    </div>
  </div>

</template>

<script>
export default {
  name: 'Form',
  props: {
    msg: String
  },
  data() {
      return {
          login: '',
          password: ''
      }
  }
}
</script>

<style scoped>
</style>
