<template>
  <Form msg="Welcome to Your Vue.js App"/>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue';
import Form from './components/Form.vue';

export default {
  name: 'App',
  components: {
      Form
  }
}
</script>

<style>
</style>
